<h1 class="course-title">{{unbound model.title}}</h1>

<img class="course-image" src={{unbound model.image-info.square2x.url}} alt="image">
<div class="course-summary">{{unbound model.summary}}</div>

{{link-to "Back" "index"}}

{{outlet}}